#top_white {
    width: 1200px;
    margin:0 auto;
    height: 40px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#logo {
    margin: 8px;
    width: 90px;
    float: left;
}
#top_bar_section {
    float: left;
    border-left:1px #CCCCCC solid;
    height: 100%;

}
#SignIn_IMG {
    width: 25px;
    margin: 10px;
    float: left;
}
#SignIn_Text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 13px;
    margin-top: 8px;
    padding-right: 50px;
}
#dindon_line {
    float: left;
    height: 40px;
}
#bell {
    height: 25px;
    margin: 8px 11px;
    float: left;
}
.topbar_section {
    font-weight: bold;
    font-size: 90%;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-left:1px #CCCCCC solid;
    float: left;
    height: 27px;
}
#tringlIMG {
    width: 10px;
}
#input_textdiv {
    border-left:1px #CCCCCC solid;
    float: left;
    height: 40px;

}
#input_text {
    background-color: #E4E4E4;
    border: none;
    float: left;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin-top: 6px;
    margin-left: 8px;

}
#loupicon {
    width: 26px;
    margin-top: 6px;
}
#second_tool_bar {
    background-color: #BB1919;
    height: 60px;
    width: 100%;
}
#third_tool_bar {
    background-color: #A91717;
    height: 30px;
}
.clear-float {}
#second_tool_bar_menu {
    width: 1200px;
    margin:0 auto;
}
h1 {
    padding: o;
    margin: 0 auto;
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 10px;
    float: left;
}
#localnews {
    float: right;
    color: white;
    border: 1px #BB4545 solid;
    width: 180px;
    padding: 5px;
    margin: 5px;
}
#localnews a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
#localnews a:hover {
    text-decoration: underline;
}
#localnews img {
    height: 40px;
}