body {background-color: deepskyblue;
    background-image: url("../img/2021-02-07_19-34-28.png");
    background-size: 100%;
    background-repeat: no-repeat;}
ol {color: darkgreen;}
ul {color: blue;}