#top_white {
    width: 1050px;
    margin:0 auto;
    height: 40px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#logo {
    margin: 8px;
    width: 90px;
    float: left;
}
#top_bar_section {
    float: left;
    border-left:1px #CCCCCC solid;
    height: 100%;

}
#SignIn_IMG {
    width: 25px;
    margin: 10px;
    float: left;
}
#SignIn_Text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 13px;
    margin-top: 8px;
    padding-right: 50px;
}
#dindon_line {
    float: left;
    height: 40px;
}
#bell {
    height: 25px;
    margin: 8px 12px 0px 8px;
    float: left;
}
.topbar_section {
    font-weight: bold;
    font-size: 90%;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-left:1px #CCCCCC solid;
    float: left;
    height: 28px;
}
#tringlIMG {
    width: 10px;
}
#input_textdiv {
    border-left:1px #CCCCCC solid;
    float: left;
    height: 40px;

}
#input_text {
    background-color: #E4E4E4;
    border: none;
    float: left;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin-top: 6px;
    margin-left: 8px;

}
#loupicon {
    width: 26px;
    margin-top: 6px;
}
.clear {
    clear: both;
 }
#second_tool_bar {
    border-top: 1px solid #CCCCCC;
    background-color: #BB1919;
    height: 62px;
    width: 100%;
}
#second_tool_bar_menu {
    width: 1050px;
    margin:0 auto;
    height: 60px;
}
h1 {
    padding: 0;
    margin:0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 10px;
    width: 120px;
    float: left;
}
#localnews {
    border: 1px #BB4545 solid;
    float: right;
    width: 250px;
    padding: 5px 5px 0px 10px;
    margin: 5px 10px 0 0;

}
#localnews a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: -8px;

}
#localnews a:hover {
    text-decoration: underline;

}
#localnews img {
    height: 40px;
}
#third_tool_bar {
    background-color: #A91717;
    height: 35px;
}
#third_tool_bar_menu {
    width: 1050px;
    margin: 0 auto;
}
#third_tool_bar_menu a {
    color: white;
    text-decoration: none;
    padding: 0 10px 0 10px;
    border-right:1px #BB4545 solid;
    font-size: 15px;
    position: relative;
    top: 7px;
}
#third_tool_bar_menu a:hover {
    text-decoration: underline;
}
.no_border {
    border: none !important;
}
#tringlIMG2 {
    height: 8px;
    position: relative;
    top: 6px;
}
#page_contener {
    width: 1050px;
    margin: 0 auto;
}
h2 {
    font-weight: normal;
    margin-top: 40px;
    font-size: 20px;
    border-bottom: 3px solid #A91717;
    width: 105px;
}
h3 a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
h3 a:hover {
    color: #1167a8;
}
#artical_sum {
    color: #5a5a5a;
    width: 280px;
}